.article {
  >div {
    margin-bottom: 16px;
  }

  >p:first-child {
    margin-top: 0;
  }

  h1 {
    padding-bottom: 4px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: solid 1px gray;
  }

  h2 {
    font-size: 1.75rem;
    font-weight: 700;
    color: #334155;
    margin-top: 2rem;
    margin-bottom: 1rem;
    position: relative;
    padding-left: 1.25rem;

    &::before {
      content: "#";
      position: absolute;
      left: 0;
      top: 0;
      font-size: 1.75rem;
      color: #2563eb;
      font-weight: 700;
    }
  }

  h3 {
    font-size: 1.375rem;
    font-weight: 700;
    color: #334155;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    position: relative;
    padding-left: 1.75rem;

    &::before {
      content: "##";
      position: absolute;
      left: 0;
      top: 0;
      font-size: 1.375rem;
      color: #2563eb;
      font-weight: 700;
    }
  }

  p {
    margin: 1.5rem 0;
  }

  table {
    display: block;
    max-width: 100%;
    overflow: auto;
    margin: 1em 0 1em 1em;
    overflow-x: auto;
    overflow-y: hidden;

    tr,
    th,
    td {
      border: 1px solid gray;
      padding: 6px 12px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
    list-style-position: inside;
    list-style: disc;
    margin: 1em 0 1em 2em;

    ul,
    ol {
      margin: 0 0 0 2em;
    }
  }

  ol {
    display: flex;
    flex-direction: column;
    gap: 4px;
    list-style-position: inside;
    list-style: decimal;
    margin: 1em 0 1em 2em;

    ul,
    ol {
      margin: 0 0 0 2em;
    }
  }

  blockquote {
    margin: 1.5rem 0;
    padding: 1rem;
    border-left: 4px solid #2563eb;
    background-color: #ffffff;

    p {
      margin: 0;
    }
  }

  summary {
    color: #334155;
    cursor: pointer;
    font-weight: 500;
  }

  details {
    padding: 1rem;
    margin-bottom: 0.5rem;
    background-color: #ffffff;
    border: 1px solid #e2e8f0;
    border-radius: 0.5rem;
  }

  details[open] {
    summary {
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid #e2e8f0;
    }
  }

  code:not(pre > code) {
    background-color: #e2ecf5;
    padding: 4px 6px;
    border-radius: 4px;
    font-family: "Consolas", "Liberation Mono", "Courier New", monospace;
    font-size: 0.875rem;
  }

  pre:has(> code) {
    padding: 1rem;
    border-radius: 0.25rem;
    overflow: auto;
    margin: 1.5rem 0;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);

    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #cbd5e1;
      border-radius: 999px;
    }

    code {
      display: block;
      font-family: "Consolas", "Liberation Mono", "Courier New", monospace;
      tab-size: 2;
      white-space: pre;
    }
  }

  .code-title {
    margin-bottom: 0;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-color: #f1f5f9;
    color: #475569;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-family: "Consolas", "Liberation Mono", "Courier New", monospace;
    font-size: 0.875rem;
    line-height: 1.25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
    border: 1px solid #ddd;
    border-bottom: none;

    +pre {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin-top: 0;
      border-top: none;
    }
  }

  svg,
  img {
    margin: 1.5rem auto;
    display: table;
    max-height: 32rem;
    max-width: 100%;
    height: auto;
    width: auto;
  }

  img~em {
    display: block;
    margin: -1rem auto 0;
    line-height: 1.3;
    color: #475569;
    text-align: center;
    font-size: 0.95rem;
  }
}
